<div class="data">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Subjecct</th>
        <th scope="col">Date</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listMail" [ngClass]="{'active': selectedItem === item._id}" (click)="detailMail(item._id)" >
        <td scope="row">{{item.from}}</td>
        <td>{{item?.subject}}</td>
        <td>{{item?.date| date:'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>

  